.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

body {
  margin:0;
  background-color: rgb(27, 26, 26);
  color: rgb(228, 226, 226);
  min-height: 100vh;
}
h3 {
  font-size: 1.2rem;
  display: inline;
}
h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 3rem;
}
button {
  background-color: rgb(53, 53, 53);
  color: rgb(228, 226, 226);
}
canvas {
  height: 100vh;
}